.heroSection {
  position: relative;
  height: 560px;
  width: 100%;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  inset: 0; 
 
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradientOverlay {
  position: absolute;
  inset: 0;
   background-image: linear-gradient(#0082f4ba, #00f2fe00);
}

.contentContainer {
  position: relative;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.textContent {
  max-width: 42rem;
  color: #ffffff;
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 9999px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 3.75rem; 
  font-weight: 800;
  letter-spacing: -0.025em;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.highlightText {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #ffffff, #9ca3af);
}

.description {
  font-size: 1.125rem; 
  color: #e5e7eb;
  margin-bottom: 2.5rem;
  max-width: 32rem;
  line-height: 1.625;
  font-weight: 300;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.primaryButton {
  background-color: #ffffff;
  color: #000080; 
  padding: 1rem 2rem;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.3s;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.primaryButton:hover {
  background-color: #f3f4f6; 
  transform: translateY(-4px);
}

.secondoBotao {
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.3s;
  text-decoration: none;
}

.secondaryButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


@media (min-width: 768px) {
  .title {
    font-size: 4.5rem; 
  }
  
  .description {
    font-size: 1.25rem; 
  }
}
